@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@font-face {
  font-family: "CustFont";
  src: url("./assets/michelle digital handwritten.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* -------------------------------------------------------------------------- */
/* ------------------------GENERAL APP-WIDE STYLES--------------------------- */
/* -------------------------------------------------------------------------- */

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --bg-color: #030304;
  --primary: #15171c;
  --secondary: #35a0ca;
  --light: #eeeeee;
  --grey: #2f3239;

  /* Font weights */
  --title: 770;
  --bold: 650;
  --regular: 400;
  --subtext: 300;

  font-family: Inter, sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;

  background-color: var(--bg-color);
  color: var(--light);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root,
body,
#root,
.container {
  margin: 0;
  padding: 0;
  height: 100%;
}

.title {
  font-weight: var(--title);
}

.bold {
  font-weight: var(--bold);
}

.regular {
  font-weight: var(--regular);
}

.subtext {
  font-size: 15px;
  font-weight: var(--subtext);
}

p {
  align-self: center;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -------------------------------------------------------------------------- */
/* ------------------------TOP-MOST LEVEL STYLING---------------------------- */
/* -------------------------------------------------------------------------- */

.toggle-sidebar-btn {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  z-index: 1;
  height: 40px;
  width: 40px;
  padding: 0;
  border-radius: 6px;
  border-width: 0px;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light);
  z-index: 1;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.container .sidebar {
  flex: 20%;
  background-color: var(--primary);
  height: 100%;
  max-width: 275px;
  display: flex;
}

.container .main-area {
  flex: 80%;
  height: 100%;
  overflow: scroll;
}

/* -------------------------------------------------------------------------- */
/* ------------------------------SIDEBAR STYLES------------------------------ */
/* -------------------------------------------------------------------------- */

.sidebar-button {
  position: fixed;
  top: 7px;
  left: 0;
  transform: translateY(-50%);
  background: #3576bb;
  color: white;
  border: none;
  padding: 7px;
  font-size: 1.05rem;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 10px 10px 10px #000;
  z-index: 1;
}
.sidebar-button:hover {
  filter: brightness(120%);
  box-shadow: 10px 10px 10px #000;
}

.sidebar-button:hover::after {
  content: attr("Sidebar");
}

.sidebar .sidebar-list {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 0;
}

.sidebar-list .row {
  cursor: pointer;
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  /* The hover works DONOT TOUCH */
  position: relative;
  overflow: hidden;
  z-index: 3;
}

/* For the smooth transition animation */
.sidebar-list .row::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: var(--secondary);
  transition: transform 0.3s ease;
  z-index: -1;
  /* opacity: 0; */
  transform: translateX(-100%);
}

.row:hover::before {
  transform: translateX(0);
  /* opacity: 1; */
}

/* idk chatgpt said this is necessary for animation. */
.row span {
  position: relative;
  z-index: 1;
  display: inline-block;
}

/* Icon of each view on the sidebar. */
.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
  z-index: 1;
}

/* The name of each view on the sidebar. */
.row .tab-title {
  flex: 70%;
}

/* To show which tab is currently active. */
.sidebar-list #active {
  background-color: var(--bg-color);
}

/* -------------------------------------------------------------------------- */
/* ------------------------------MODAL STYLES-------------------------------- */
/* -------------------------------------------------------------------------- */

.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-main-area {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  /*gap: 1.25rem;*/
  color: #ffffff;
}

.modal {
  background: var(--secondary);
  border-radius: 0.5rem; /* rounded-xl */
  padding-left: 1.7rem; /* px-20 */
  padding-right: 1.7rem; /* px-20 */
  padding-bottom: 1.2rem; /* py-10 */
  display: flex; /* flex */
  flex-direction: column; /* flex-col */
  gap: 1.25rem; /* gap-5 */
  align-items: center; /* item-center */
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.option-buttons button {
  margin: 0 5px;
}

.option-buttons .active {
  background-color: #007bff;
  color: white;
}

.form-actions {
  display: flex;
  justify-content: space-between;
}

.close-btn {
  place-self: end;
  background: transparent;
  color: white;
  border: none;
}
/* -------------------------------------------------------------------------- */
/* -----------------------------TASK VIEW STYLES----------------------------- */
/* -------------------------------------------------------------------------- */

/* ------ */
/* Navbar */
/* ------ */

.nav {
  background-color: var(--primary);
  color: var(--light);
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  border-bottom: 1px solid black;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.page-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
}

/* ---- */
/* Task */
/* ---- */

.task-card {
  width: inherit;
  /* height: fit-content; */
  height: inherit;
  background-color: var(--grey);
  border: 1px solid black;
  border-radius: 1rem;
  box-shadow: 0px 10px 8px rgb(0, 0, 0);

  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 2rem;
  padding: 0 1rem;
}

/* You cannot style an checkbox, the entirety of reddit and stackoverflow gave up */
/* But I said nah I'd win and I did*/
/* Made a fricking new checkbox */
/* I am Gojo Satoru of CSS*/

.task-card input[type="checkbox"] {
  /* Hide the default checkbox */
  display: none;
}

.task-card input[type="checkbox"] + label {
  /* Create a custom checkbox */
  display: inline-block;
  position: relative;
}

.task-card input[type="checkbox"] + label:before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 1px solid #0a0a0a;
  background-color: white;
  cursor: pointer;
}

.task-card input[type="checkbox"]:checked + label:before {
  /* Style the checked state */
  background-color: #3576cc;
  border-color: #000000;
}

.task-card input[type="checkbox"]:checked + label:after {
  /* Add a checkmark */
  content: "✔";
  font-size: 25px;
  color: #fff; /* Change the color to white */
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-container {
  flex: 80%;
  padding: 1rem;
}

.task-card ul {
  padding: 0;
  flex: 15%;

  list-style-type: none;
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
}

.task-name {
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

/* ---------- */
/* Task Group */
/* ---------- */

.task-area {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.taskgroup-container {
  width: 75%;
  /* height: fit-content; */
  height: inherit;
  min-width: 500px;
  max-width: 750px;

  background-color: var(--primary);
  border: 1px solid black;
  border-radius: 1rem;
  box-shadow: 0px 10px 8px rgb(0, 0, 0);

  display: flex;
  flex-direction: column;

  margin: 0.5rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.taskgroup-container .taskgroup-container {
  width: inherit;
  min-width: 300px;
}

/* -------------------------------------------------------------------------- */
/* -----------------------------BUTTON STYLES-------------------------------- */
/* -------------------------------------------------------------------------- */

/* ----------------- */
/* Buttons on navbar */
/* ----------------- */
.btn {
  background: #3576cc;
  color: white;
  border: none;
  padding: 10px;
  font-size: 1rem;
  font-family: inherit;
  cursor: pointer;
  outline: inherit;
  border-radius: 15px;
  box-shadow: 6px 6px 7px black;
  display: flex;
  align-items: center;
}

.btn:hover {
  filter: brightness(120%);
  box-shadow: 10px 10px 10px #000;
}

.btn:active {
  box-shadow: inset 2px 2px 10px #000;
}

/* ----------------- */
/* Buttons for tasks */
/* ----------------- */

.task-btn {
  background: #3576bb;
  color: white;
  background-color: #3576bb;
  border: none;
  border-radius: 17px;
  box-shadow: 6px 6px 7px #000;
  display: flex;
  align-items: center;
  padding: 12px;
}

.task-btn:hover {
  filter: brightness(120%);
  box-shadow: 10px 10px 10px #000;
}

.task-btn:active {
  box-shadow: inset 2px 2px 10px #000;
}

.delete-icon {
  background-color: #286bb3;
  color: white;
  border: none;
  padding: 12px;
  cursor: pointer;
  border-radius: 17px;
  box-shadow: 6px 6px 7px #000;
  display: flex;
  align-items: center;
}

.delete-icon:hover {
  background: white;
  color: red;
  border-radius: 15px;
  box-shadow: 10px 10px 10px #000;
}

.delete-icon:active {
  box-shadow: inset 2px 2px 10px white;
}
