@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* -------------------------------------------------------------------------- */
/* ------------------------GENERAL APP-WIDE STYLES--------------------------- */
/* -------------------------------------------------------------------------- */

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --bg-color: #282c34;
  --primary: #31363f;
  --secondary: #76abae;
  --light: #eeeeee;
  --grey: #3c4048;

  /* Font weights */
  --title: 770;
  --bold: 650;
  --regular: 400;
  --subtext: 300;

  font-family: Inter, sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;

  background-color: var(--bg-color);
  color: var(--light);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root,
body,
#root,
.container {
  margin: 0;
  padding: 0;
  height: 100%;
}

.title {
  font-weight: var(--title);
}

.bold {
  font-weight: var(--bold);
}

.regular {
  font-weight: var(--regular);
}

.subtext {
  font-size: 15px;
  font-weight: var(--subtext);
}

/* -------------------------------------------------------------------------- */
/* ------------------------TOP-MOST LEVEL STYLING---------------------------- */
/* -------------------------------------------------------------------------- */

.toggle-sidebar-btn {
  position: absolute;
  bottom: 10px; /* this is a jugaad just because I don't want it to get in the way for now.*/
  left: 20px;
  height: 40px;
  width: 40px;
  padding: 0;
  border-radius: 6px;
  border-width: 0px;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light);
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.container .sidebar {
  flex: 30%;
  background-color: var(--primary);
  height: 100%;
  max-width: 300px;
  display: flex;
}

.container .main-area {
  flex: 70%;
  height: 100%;
}

/* -------------------------------------------------------------------------- */
/* ------------------------------SIDEBAR STYLES------------------------------ */
/* -------------------------------------------------------------------------- */

.sidebar .sidebar-list {
  height: 100%;
  width: 100%;
  /* Let's keep the border, it divides the screen better. */
  border: 1px solid black;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar-list .row {
  cursor: pointer;
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  /* The hover works DONOT TOUCH */
  position: relative;
  overflow: hidden;
  z-index: 3;
}

/* For the smooth transition animation */
.sidebar-list .row::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: var(--secondary);
  transition: transform 0.3s ease;
  z-index: -1;
  /* opacity: 0; */
  transform: translateX(-100%);
}

.row:hover::before {
  transform: translateX(0);
  /* opacity: 1; */
}

/* idk chatgpt said this is necessary for animation. */
.row span {
  position: relative;
  z-index: 1;
  display: inline-block;
}

/* Icon of each view on the sidebar. */
.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
  z-index: 1;
}

/* The name of each view on the sidebar. */
.row .tab-title {
  flex: 70%;
}

/* To show which tab is currently active. */
.sidebar-list #active {
  background-color: var(--bg-color);
}

/* -------------------------------------------------------------------------- */
/* -----------------------------TASK VIEW STYLES----------------------------- */
/* -------------------------------------------------------------------------- */
